@model COVID_19_Hadasim_.Models.Vaccine

@using (Html.BeginForm("AddVaccine", "Members", FormMethod.Post))
{
    <div class="form-group">
        <label asp-for="VaccineNumber" class="control-label"></label>
        <input asp-for="VaccineNumber" class="form-control" />
        <span asp-validation-for="VaccineNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VaccineDate" class="control-label"></label>
        <input asp-for="VaccineDate" class="form-control" />
        <span asp-validation-for="VaccineDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="VaccineManufacturer" class="control-label"></label>
        <input asp-for="VaccineManufacturer" class="form-control" />
        <span asp-validation-for="VaccineManufacturer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Add Vaccine" class="btn btn-primary" />
    </div>
}
